#what-we-do
    padding: $header-height 0
    background-image: url("../img/what-we-do.png")
    .wrapper
        @include container-1920
        .step
            height: 0
            opacity: 0
            transition: all 0.4s ease-in-out
            &.active
                height: 508px
                opacity: 1
                @media ( max-width: 767px)
                    height: fit-content

        .description-and-img-block
            display: grid
            grid-template-columns: 0.5fr 0.15fr 0.5fr
            position: relative
            @media ( max-width: 768px)
                grid-template-columns: 1fr
            @media ( max-width: 767px)
                grid-template-rows: 350px 500px
            .description
                grid-column: 1/2
                align-self: center
                @media ( max-width: 768px)
                    grid-column: none
                    align-self: center
                    position: absolute
                    color: #fff
                    padding: 30px
                    background: rgba(0,0,0,0.9)
                @media ( max-width: 767px)
                    grid-row: 2/3
                    position: relative

            .img-container
                grid-column: 3/4
